<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav> 
        <div class="logo"> 
            News
        </div> 
  
        <!-- Defining the search bars -->
        <div class="header__search">
            <form action="/" method="POST">
                <input type="text" name="search" placeholder="Search for news....." required>
                <input type="submit" value="ðŸ”" >
            </form>
        </div>
    </nav> 
</body>
</html>